
<div class="foot bg-dark p-3 text-white">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="leftSide col-md-3 ">
                <h3 class="mb-3">BootStrap</h3>
                <p class="mb-1">Deserunt, sapiente!</p>
                <p>consectetur adipisicing elit</p>
            </div>
            <div class="center col-md-3 text-md-center my-md-0 mt-3 mb-4">
                <button type="button" class="btn btn-outline-dark border border-2 border-white px-4 py-2 text-white">Dark Button</button>

            </div>
            <div class="righttSide col-md-3 text-right bg-dange">
               <a href="" class="px-1">
                <i class="fa-brands fa-tiktok  text-white fs-3 "></i>
               </a> 
               <a href="" class="px-1">
                <i class="fa-solid fa-envelope text-white fs-3"></i>
               </a> 
               <a href="" class="px-1">
                <i class="fa-brands fa-github text-white fs-3 "></i>
               </a> 
               <a href="" class="px-1">
                <i class="fa-brands fa-facebook text-white fs-3"></i>
               </a> 


            </div>


        </div>
    </div>

</div>