

<div>
  <div class="land position-relative">
    <div class="layer"></div>
    <img [src]="landImage" alt="Error" class="w-100 h-100" />
    <!-- <img src="../../assets/" alt="Error" class="w-100 h-100" /> -->
    <div class="parag position-absolute text-center">
      <h1>{{ name }}</h1>
      <p class=" fs-4 text-light">{{ job }}</p>
      <div class="bt text-center">
        <button
          class="btn btn-outline-danger text-white border-2 border border-white mt-3"
        >
          Contact Us
        </button>
      </div>
    </div>
  </div>
</div>
