<div class="container py-5">
  <div class="row">
    <div class="col-md-3">
      <h1 >About Me</h1>
    </div>
    <div class="descr col-md-9">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde explicabo
        doloribus tenetur animi, placeat, dolores, totam quae sunt maiores
        aliquid excepturi iure magnam doloremque sed odio illo soluta ducimus
        enim? Deserunt ut laudantium velit, commodi consequuntur, molestias
        nesciunt atque numquam dicta praesentium corporis veritatis? Temporibus,
        dolorum! Neque quisquam possimus tempora quibusdam ullam animi aliquid
        similique enim. Excepturi debitis ipsam libero! Rerum hic eaque mollitia
        modi illum, repellat aperiam in distinctio incidunt nesciunt soluta
        corporis recusandae nisi esse debitis odio perspiciatis eius dolorum
        praesentium eligendi sunt? Sit cupiditate ab eveniet tempora.
      </p>
     <a [href]="cv" download="Alaa-Abdo-El-Naggar"> <button type="button" class="btn btn-dark rounded-0 mt-2 px-4" >Sit cupiditate tempora</button></a>
    </div>
  </div>
</div>
